:root {
    --scale: 100px;
}


.scene {
    width: 200px;
    height: 200px;
    perspective: 600px;
}

.point {
    position: absolute;
    display: block;
    border: 5px solid rgb(calc(var(--x) * -255), calc(var(--y) * -255), calc(var(--z) * -255));

    animation: o2 2s linear infinite;
}

.face {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background-color: deepskyblue;
}

.sphere {
    width: 0%;
    height: 0%;
    position: relative;
    transform-style: preserve-3d;
    translate: 300px 300px;

    animation: opposite 2s cubic-bezier(.45,.05,.55,.95) infinite
}

@keyframes opposite {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}

@keyframes o2 {
    from {rotate: 0 1 0 360deg;}
    to {rotate: 0 0 0;}
}

label { margin-right: 10px; }